.slick-dots{
  bottom: 10px!important;
}

.slick-dots li button:before{
  font-size: 15px!important;
}
.slick-dots li button:before{
  opacity: 0.6!important;
  color: rgba(255, 255, 255, 0.6)!important;
}
.slick-dots{
  li{
    button {
      &::before{
        color: rgba(255, 255, 255, 0.6)!important;
      }
    }
  }
}

.slick-dots li.slick-active button:before{
  color: white!important;
}